 <html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css"></link>
  </head>
  <body>

    <h2 id="heading"> Add Your Trips Here </h2>
    <div id="addtripsContainer">
    <form action="/add-trips" method="POST">
      <input type="text" name ="tripTitle" placeholder="Enter Destination"/>

      <input type="text" name="tripImage" placeholder="Enter Image URL"/>

      <input type="date" name="departureDate" placeholder="Enter Departure Date" />

      <input type="date" name="returnDate" placeholder="Enter Return Date"/>

      <input type="submit"/>
    </form>
  </div>
  </body>

<script></script>
</html>
