<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css"></link>
</head>

<body>
  <a href="/add-trips">Add Trips</a>

  <div id="tripsContainer">

    <ul id="tripList">
      {{#tripList}}
      <li>

          <img id="tripImg" src="{{image}}"> </img>
        </br>
        <strong>Destination: </strong> <label> {{title}} </label>
        </br>
        <strong>Trip Start Date: </strong> <label> {{beginDate}} </label>
        </br>
        <strong>Trip End Date: </strong> <label> {{endDate}} </label>
        </br>
          <button>Delete</button>
        </br>
      </li>
      {{/tripList}}
    </ul>
  </div>
</body>


</html>
